body{
  margin: 0;
  background:rgb(0, 0, 0);
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.App{
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: rgb(30, 30, 30);
  border-radius: 25px;
}