.tw-text{
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 23px;
  margin: 0px;

}
.tw-follow-card{
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;
}

.tw-follow-card-header{
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: space-between;
}

.tw-follow-card-info{
  display: flex;
  flex-direction: column;
  padding: auto;
}

.tw-follow-card-usuari{
  opacity: .6;
  width: max-content;
}

.tw-follow-card-avartar{
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-followCard-text{
  display: block;
}

.tw-follow-card-button{
  cursor: pointer;
  margin-left: 30px;
  border-radius: 999px;
  border: 2px solid;
  padding: 6px 16px; 
  font-weight: bold;
  transition: .4s ease background-color;
  min-width: 100px;
}

.tw-follow-card-button.is-following{
  background-color: rgb(109, 115, 115, .2);
  color: #fff;
  border: 2px solid rgb(44, 56, 63); 
  width: 100px;
}

.tw-follow-card-button.is-following:hover{
  background-color: rgb(28, 12, 16);
  color: red;
  border: 2px solid rgb(59, 02, 05);
  transition: .6s;
} 

.tw-follow-card-button.is-following:hover .tw-followCard-text{
  display: none;
}
.tw-follow-card-button.is-following:hover .tw-followCard-stopFollow{
  display: block;
}

.tw-followCard-stopFollow{
  display: none;
}

.tw-follow-card-list{
  list-style-type: none;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0px;
}

.tw-follow-card-item{
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-top: 12px;

}

.tw-follow-card-item:hover{
  background-color: rgb(11, 12, 15);
  transition: .4s;
}